@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Global Solution - Enterprise</h1>
    <h2>Funções implementadas</h2>
    <h3>Função de alterar status</h3>
    <h4>Forma de contribuir</h4>
    <p>A função "alterar status" contribui proporcionando uma maneira de modificar o estado de um objeto, sistema ou entidade, permitindo o acompanhamento e a gestão eficaz do ciclo de vida, situação ou condição dessas entidades.</p>
    <h4>Descrição</h4>
    <p>A função de alteração de status é valiosa porque proporciona visibilidade, comunicação eficiente e controle sobre o progresso e o estado das atividades, contribuindo assim para a eficiência e a eficácia em diversos contextos.</p>
    
    <h3>Função de Busca de Registro por CPF</h3>
    <h4>Forma de contribuir</h4>
    <p>A função de busca por CPF contribui permitindo a recuperação eficiente de registros associados a um CPF específico. Essa funcionalidade é valiosa para localizar informações específicas em um conjunto de dados, facilitando a implementação de recursos como verificação de histórico, validação de identidade e personalização da experiência do usuário. Além disso, a função oferece flexibilidade e modularidade ao possibilitar buscas diretas na própria classe, simplificando a implementação e manutenção do código.</p>
    <h4>Descrição</h4>
    <p>Essa função contribui fornecendo uma maneira de buscar registros por CPF diretamente na classe Registro. Isso pode ser útil em casos simples em que a lógica de busca está contida dentro da própria entidade. </p>
    
</div>
